*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navLinks{
    list-style-type: none;
}

.navBg{
    background-color: #f2f4b3;
}

/*COLORI
#f2f4b3 panna
#8ec462 verdino
#ffffff bianco
#000000 nero /*
